body {
    font-size: 62.5%;
    background: $mainRed;
    color: $mainWhite;
    font-family: $bodyFont;
    text-align: center;
}


// CLASSES

.heading_med_white {
    font-family: $headingFont;
    font-size: 1.4rem;
}

button,
input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 0;
    padding: 5px 10px;
    margin: 5px;
}


// Component 

.icon_wine_main {
    margin: 0px auto;
    display: block;
    width: 20%;
    height: atuo;
}

.red {
    background: $mainPurple;
}

.rose {
    background: $mainPink;
}

.white {
    background: $mainWhite;
    border: 1px solid lightgrey;
}
