.navigation {
    float: right;
    margin: 0 30px;
    position: absolute;
    top: 10px;
    right: 0;
    ul {
        padding: 10px 10px 0 0;
    }
    li {
        float: left;
        list-style: none;
        font-size: 0.8rem;
        text-align: right;
        padding: 5px 5px;
        font-family: $headingFont;
        transition: text-shadow 0.3s ease-in-out;
        &:hover {
                text-shadow: 0 0 1px lightgray;
        }
        a {
            width: 100%;
            min-height: 100%;
            display: inline-block;
            color: black;
            text-decoration: none;
            text-shadow: 0 0 2px $mainWhite;
        }
        h4{
            position: relative;
            top: -10px;
            margin: 0;
            color: black;
        }
    }
    img{
        width: 40px;
    }
    #logOutMsg{
        display: none;
    }
}