.navigation {
    float: right;
    margin: 0 10px;
    position: absolute;
    top: 10px;
    right: 0;
    ul {
        padding: 0px;
    }
    li {
        list-style: none;
        font-size: 1rem;
        text-align: right;
        padding: 5px 5px;
        font-family: $headingFont;
        a {
            color: black;
            text-decoration: none;
            transition: font-size 0.4s ease-in-out;
            text-shadow: 0 0 2px $mainWhite;
            &:hover {
                font-size: 1.2rem;
            }
        }
        // .circle {
        //     width: 10px;
        //     height: 10px;
        //     border: 1px white solid;
        //     border-radius: 10px;
        //     display: inline-block;
        //     position: relative;
        //     top: 50%;
        //     transform: translateY(50%);
        // }
    }
    
    #logOutMsg{
        display: none;
    }

    // active style
    .current {
        font-size: 1.2rem;
    }
}