.userPantry{
    .logo{
        width: 100px;
        height: auto;
        margin: 20px auto;
        display: block;
    }
    h1{
        position: relative;
        color: black;
        top: -80px;
        font-size: 1.8rem;
        font-family: $headingFont;
        text-shadow: 0 0 10px white;
    }
}