.searchPantry{
    background: $mainWhite;
    color: black;
    button{
        border: none;
        color: black;
        border-radius: 0px;
    }
}
.searchPantryButtons{
    float: left;
}
.searchBox{
    float: left;
  
}
.sortBox{
    float: left;
   
}
.filterBox{
    float: left;

}
.userPantry{
    height: 100vh;
    .logo{
        width: 100px;
        height: auto;
        margin: 20px auto;
        display: block;
    }
    h1{
        position: relative;
        color: black;
        top: -80px;
        font-size: 1.8rem;
        font-family: $headingFont;
        text-shadow: 0 0 10px white;
        @include tablet{
            font-size: 1.2rem;
            top: -75px;
        }
        @include mobile{
            display: none;
        }
    }
    ul {
        padding: 0;
    }
}

.pantryItem {
    @extend .wineResult;
    width: 33.3%;
    height: 450px;
    color: black;
    float: left;
    border: 1px solid $mainRed;
    .pantryButtons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    button {
        text-transform: uppercase;
        width: 75px;
        border-radius: 2px;
        color: white;
    }
    .editBtn {
        background: $mainBlue;
    }
    .deleteBtn {
        background: $mainRed;
    }
}


.pantry_dataBox {
    width: 100%;
    float: left;
    .wineInfo {
        width: 50%;
        float: left;
        padding: 20px 20px 20px 0;
        .wineInfo_name {
            text-align: left;
            font-size: 1.2rem;
        }
        .wineInfo_indicators {
            width: 40%;
        }
    }

}

.wineInfo_description {
    font-size: 0.8rem;
    margin: 0;
    padding: 20px 0;
    // height: 40px;
}

.pantry_imageBox {
    width: 50%;
    float: left;
    overflow: hidden;
    padding: 20px 20px 0;
    img {
        width: 100%;
        max-height: 350px;
        margin: 0 auto;
        object-fit: cover;
    }
}
.pantry_textBox {
    width: 50%;
    height: 100%;
    float: left;
    color: black;
    padding: 20px;
    position: relative;
    h3 {
        font-size: 1rem;
        font-family: $headingFont;
        text-align: left;
    }
}

.userWineInfo {
    width: 100%;
    float: right;
    .userWineInfo_rating {
        width: 30%;
        float: left;
        background: gold;
        height: 100px;
        width: 100px;
        margin-left: 20px;
        -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        h6 {
            margin: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.8rem;
        }
        
    }
    .userWineInfo_notes {
        width: 70%;
        float: left;
        padding: 0 10px;
        height: 100px;
        h6 {
            margin: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


