.results {
    margin: 0;
    height: 100vh;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        float: left;
    }

    footer {
        background: rgb(114, 114, 114);
        margin: 0;
        a {
            display: inline-block;
            text-align: center;
            background-color: transparent;
            border: 1px solid $mainWhite;
            color: $mainWhite;
            border-radius: 20px;
            padding: 5px 10px;
            margin: 25px;
            text-decoration: none;
            font-size: 0.8rem;
                &:visited{
                    color: $mainWhite;
                }
                &:hover{
                    background: $mainWhite;
                    color: $mainRed;
                }
                &:active{
                    color: $mainWhite;
                }
                }
        button {
            width: 80px;
            border-color: white;
                &:hover{
                    box-shadow: 0 0 10px $mainPurple;
                }
        }
    }
}

.wineResult {
    width: 33.33%;
    height: 350px;
    position: relative;
    background: white;
    @include desktop-med {
        width: 50%;
    }
    @include desktop-sml {
        width: 50%;
    }
    @include tablet {
        width: 100%;
    }
    .arrow-right {
        width: 0; 
        height: 0; 
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent; 
        border-left: 30px solid transparent;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        position: absolute; 
    }
    .wineResult_imageBox {
        width: 40%;
        float: left;
        img {
            width: 100%;
            max-height: 350px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
    .wineResult_textBox {
        width: 60%;
        height: 100%;
        float: left;
        color: black;
        padding: 20px;
        h3 {
            font-size: 1rem;
            font-family: $headingFont;
        }
    }
}

.wineType {
    width: 100%;
    position: relative;
    .wineType_indicator {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 0;
        float: left;
        margin-left: 30%;

    }
    .wineType_name {
        margin: 0;
        font-size: 0.8rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        text-align: left;

    }
}