.results {
    margin: 0;
    height: 100vh;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        float: left;
        border: 1px solid $mainRed;    
    }

    footer {
        background: linear-gradient(to left, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
        margin: 0 auto;
        width: 700px;
        height: 77px;
        position: relative;
        border-radius: 75px;
        
        @include tablet-only{
            width: 475px;
        }
        @include mobile{
            width: 300px;
        }
        
        h4{
            margin: 0;
            position: relative;
            top: -15px;
            color: black;
        }
        a {
            float: left;
            text-align: center;
            padding: 5px 0 0 0;
            background-color: transparent;
            color: black;
            text-decoration: none;
            font-size: 0.8rem;
                &:visited{
                    color: black
                }
                &:hover{
                    color: $mainRed;
                }
                &:active{
                    color: black;
                }
        }
        button {
            float: left;
            width: 10%;
            margin: 20px 20px;
            border-color: white;
            color: rgb(43, 46, 51);
                &:hover{
                    box-shadow: 0 0 10px $mainPurple;
                }       
        }
        .next{
            position: absolute;
            right: 10px;
        }
        .previous{
            position: absolute;
            left: 10px;
        }
    }
}
.footerLinks{
    width: 100px;
    margin: 0 auto;
        li {

            border: none;
            margin: 5px 5px 0 0;
        }
}
.pantryLinkFooter{
    position: relative;
    top:4px;
}
.logOutLinkFooter{
    position: relative;
    left:9px;
}

.wineResult {
    width: 33.33%;
    height: 300px;
    position: relative;
    background: white;
    overflow: hidden;
    button {
        border: black;
        color: black;
    }
    @include desktop-lrg {
        &:hover, &:focus {
            .wineResultModal {
                display: block;
            }
        }
    } 
    @include desktop-med {
        width: 50%;
        &:hover, &:focus {
            .wineResultModal {
                display: block;
            }
        }
    }
    @include desktop-sml {
        width: 50%;
        &:hover, &:focus {
            .wineResultModal {
                display: block;
            }
        }
    }
    @include tablet-only {
        width: 100%;
    }
    .wineResult_imageBox {
        width: 40%;
        float: left;
        overflow: hidden;
        img {
            width: 100%;
            max-height: 350px;
            margin: 0 auto;
            object-fit: cover;
            @include tablet-only {
                height: 100%;
                width: auto;
            }
        }
        @include mobile-xsml {
            display: none;
        }
    }
    .wineResult_textBox {
        width: 60%;
        height: 100%;
        float: left;
        color: black;
        padding: 20px;
        position: relative;
        h3 {
            font-size: 1rem;
            font-family: $headingFont;
            text-align: left;
        }
        @include mobile-xsml {
            width: 100%;
        }
    }
    
}

.wineResultModal {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    @include tablet-only {
        display: block;
        height: 50px;
        width: 50px;
        bottom: 0;
        right: 0;
    }
}

.wineInfo_indicators {
    width: 40%;
    float: left;
    .wineType {
        width: 100%;
        position: relative;
        margin: 5px 0;
        .wineType_indicator {
            height: 40px;
            width: 40px;
            border-radius: 40px;
            margin: 0;
            float: left;
        }
        .wineType_name {
            margin: 0;
            font-size: 0.8rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 45px;
            text-align: left;
    
        }
    }
    .wineDetails {
        @extend .wineType;
        .wineDetails_indicator {
            @extend .wineType_indicator;
            border: 1px solid grey;
            h3 {
                margin: 0 auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                width: 40px;
            }
        }
        .wineDetails_name {
            @extend .wineType_name;
        }
    }
}

.winePrice {
    width: 95px;
    height: 95px;
    float: right;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 95px;
    text-align: center;
    h6 {
        font-size: 1.3rem;
        margin: 0;
        color: $mainBlue;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.wineStyle_short {
    font-size: 0.8rem;
    margin: 30px 0 0;
}
.wineStyle_long {
    font-size: 0.6rem;
    margin: 20px 0 0;
}

.addBtn {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(-65px, -65px);
    padding: 0;
    margin: 0 auto;
    button {
        padding: 0;
        margin: 0; 
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: $mainRed;
        width: 150px;
        color: white;
    }
    i {
        font-size: 2rem;
        color: white;
        left: 63px;
        @include tablet-only {
            margin: 5px;
            margin-right: 20px;
            margin-top: 13px;
        }
    }
    h4 {
        margin: 0;
    }
}
