.search {
    height: 100vh;
    h1{
        position: relative;
        color: black;
        top: -80px;
        font-size: 1.8rem;
        font-family: $headingFont;
        text-shadow: 0 0 10px white;
        @include tablet{
            font-size: 1.2rem;
            top: -75px;
        }    
        @include mobile{
            display: none;
        }
    }
}