$mainRed: #a43549;
$mainBlue: #156490;
$mainPurple: #7e1c46;
<<<<<<< HEAD
=======
// $mainPurpleAlpha: #7e1c46ab;
>>>>>>> 9fadf81a1c3d0a7a976dfa947aa31ac6104a4b5e
$mainWhite: #fafcf8;
$mainPink: #F67E7D;

$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Montserrat', sans-serif;
