$mainRed: #a43549;
$mainBlue: #156490;
$mainPurple: #7e1c46;
$mainPurpleAlpha: #7e1c46ab;
$mainWhite: #fafcf8;
$mainPink: #F67E7D;

$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Montserrat', sans-serif;
